#{extends 'main.html' /}
#{set title:'Add a Recipe'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/recipe.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<h2 class="title">Add a Recipe</h2>
<div id="ingrendient-list">
	<h2 class="title">
		Ingredients
	</h2>
	#{if ingredients.size() > 0}
	
		
					<select name=mytextarea size=5 multiple>
		
			#{list items:ingredients, as:'ingredient'}
<option name="@{Ingredients.show(ingredient.id)}" value=${ingredient.toString()}> ${ingredient.toString()} </option>
				
				
			#{/list}
			</select>
			
	#{/if}
	#{else}
		<div class="empty">
	       	There are no ingredients.
	   	</div>
	#{/else}
</div>
<div id="recipe-form">
	#{form @Recipes.addRecipe()}
		#{recipe-form /}
	#{/form}
</div>