#{extends 'main.html' /}
#{set title:'Add an Ingredient'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/ingredient.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<h2 class="title">Add an Ingredient</h2>
<script type="text/javascript" src="jquery-1.3.2.min.js"></script>

<style type="text/css">
    div{
        padding:8px;
    }
</style>



<div id="ingredient-form">
	#{form @Ingredients.addIngredient()}
		#{ingredient-form /}
	#{/form}
</div>