#{extends 'main.html' /}
#{set title:'Game'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/game.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}
<h2 class="title">Add a Recipe</h2>
<h3 class="instruction">
		What can we cook with these ingredients?
	</h3>
	<h4 class="instruction">
		Add your recipe then click the "Cook" button.
	</h4>
	
	<table >
	 <tr><th>
	 	<img id="img1" src="/public/images/eggs.jpg" \>
	 	<label id="labelImg1">eggs </label>
	 </th>
	 <th>
	 	<img id="img2" src="/public/images/eggs.jpg" \>
	 	<label id="labelImg2">eggs </label>
	 </th></tr>
	 
	 
	 <tr><th>
	 	<img id="img3" src="/public/images/eggs.jpg" \>
	 	<label id="labelImg3">eggs </label>
	 </th>
	 <th>
	 	<img id="img4" src="/public/images/eggs.jpg" \>
	 	<label id="labelImg4">eggs </label>
	 </th></tr>
	 
	</table>