<p>
#{field 'name'}
   	<label for="name">Receipe Name</label>
    <input type="text" name="${field.name}" id="name" autofocus="autofocus" value="#{ifErrors}${flash.name}#{/ifErrors}#{else}${_receipe?.name}#{/else}"/>
#{/field}
</p>
<p>
#{field 'link'}
   	<label for="name">Link</label>
    <input type="text" name="${field.name}" id="link" autofocus="autofocus" value="#{ifErrors}${flash.link}#{/ifErrors}#{else}${_receipe?.link}#{/else}"/>
#{/field}
</p>
<!--
<p>
#{field 'taste'}
<label for="name">taste</label>

<p>
<input type="radio" name="${field.name}" id="taste" value="salty" #{if _receipe.taste=="salty"} checked #{/if}>Salty<br/>
<input type="radio" name="${field.name}" id="taste" value="sweet" #{if _receipe.taste=="sweet"} checked #{/if}>Sweet<br/>
<input type="radio" name="${field.name}" id="taste" value="spicy" #{if _receipe.taste=="spicy"} checked #{/if}>Spicy <br/>
</p>
#{/field}
</p>-->

<p>
#{field 'taste'}
   	<label for="name">Taste</label>
		<select name="${field.name}" id = "taste">
		<option name="${field.name}" value="salty" #{if _receipe.taste=="salty"} selected #{/if}> salty </option>
		<option name="${field.name}" value="sweet" #{if _receipe.taste=="sweet"} selected #{/if}> sweet </option>
		<option name="${field.name}" value="spicy" #{if _receipe.taste=="spicy"} selected #{/if}> spicy </option>
		</select>
#{/field}
</p>
<p>
#{field 'description'}
<label for="name">Description</label>
<textarea name="${field.name}" id="description" rows="5" cols="10" value=${_receipe?.description}>#{ifErrors}${flash.description}#{/ifErrors}#{else}${_receipe?.description}#{/else}</textarea>
#{/field}
</p>

<p>
#{field 'country'}
   	<label for="name">Country</label>
    <input type="text" name="${field.name}" id="country" autofocus="autofocus" value="#{ifErrors}${flash.country}#{/ifErrors}#{else}${_receipe?.country}#{/else}"/>
#{/field}
</p>


<p>
#{field 'numofPersons'}
<label for="name">NumofPersons</label>
<input type="radio" name="${field.name}" id="numofPersons" value="1" #{if _receipe.numofPersons=="1"} checked #{/if}>1 Person<br/>
<input type="radio" name="${field.name}" id="numofPersons" value="2" #{if _receipe.numofPersons=="2"}checked #{/if}>2 Person<br/>
<input type="radio" name="${field.name}" id="numofPersons" value="4" #{if _receipe.numofPersons=="4"} checked #{/if}>4 Persons <br/>

#{/field}
</p>
<p>
#{field 'firstIngQuant'}
   	<label for="name">${_receipe.recIngredients.get(0).toString()}</label>
    <input type="text" name="${field.name}" id="firstIngQuant" autofocus="autofocus" value="${_receipe?.recIngredients.get(0).quantity}">
#{/field}
</p>
<p>
#{field 'secondIngQuant'}
   	<label for="name">${_receipe.recIngredients.get(1).toString()}</label>
    <input type="text" name="${field.name}" id="secondIngQuant" autofocus="autofocus" value="${_receipe?.recIngredients.get(1).quantity}">
#{/field}
</p>
<p>
#{field 'thirdIngQuant'}
   	<label for="name">${_receipe.recIngredients.get(2).toString()}</label>
    <input type="text" name="${field.name}" id="thirdIngQuant" autofocus="autofocus" value="${_receipe?.recIngredients.get(2).quantity}">
#{/field}
</p>

<p class="button">
	<input type="submit" value="Add your receipe" />
</p>
<p class="button">
	<input type="reset" value="Reset" />
</p>