<p>
#{field 'nameRec'}
   	<label for="name">Recipe Name</label>
    <input type="text" name="${field.name}" id="nameRec" autofocus="autofocus" value="#{ifErrors}${flash.nameRec}#{/ifErrors}#{else}${_recipe?.nameRec}#{/else}"/>
#{/field}
</p>
<p>
#{field 'description'}
<label for="name">Description</label>

<textarea name="${field.name}" id="description" rows="5" cols="10"></textarea>

#{/field}
</p>

<p>
#{field 'link'}
   	<label for="name">Web Link</label>
    <input type="text" name="${field.name}" id="link" autofocus="autofocus" value="#{ifErrors}${flash.link}#{/ifErrors}#{else}${_recipe?.link}#{/else}"/>
#{/field}
</p>

<p>
#{field 'country'}
   	<label for="name">Country</label>
    <input type="text" name="${field.name}" id="country" autofocus="autofocus" value="#{ifErrors}${flash.country}#{/ifErrors}#{else}${_recipe?.country}#{/else}"/>
#{/field}
</p>

<p>
#{field 'taste'}
   	<label for="name">Taste</label>
		<select name="${field.name}" id = "taste">
		<option name="${field.name}" value=salty> salty </option>
		<option name="${field.name}" value=sweet> sweet </option>
		<option name="${field.name}" value=spicy> spicy </option>
		</select>
#{/field}

</p>





<p class="button">
	<input type="submit" value="Add your recipe" />
</p>
<p class="button">
	<input type="reset" value="Reset" />
</p>