<p>
#{field 'nameRec'}
   	<label for="name">Recipe Name</label>
    <input type="text" name="${field.name}" id="nameRec" autofocus="autofocus" value="#{ifErrors}${flash.nameRec}#{/ifErrors}#{else}${_recipe?.nameRec}#{/else}"/>
#{/field}
</p>
<p>
#{field 'description'}
<label for="name">Description</label>

<textarea name="${field.name}" id="description" rows="5" cols="10"></textarea>

#{/field}
</p>

<p>
#{field 'link'}
   	<label for="name">Web Link</label>
    <input type="text" name="${field.name}" id="link" autofocus="autofocus" value="#{ifErrors}${flash.link}#{/ifErrors}#{else}${_recipe?.link}#{/else}"/>
#{/field}
</p>




<p class="button">
	<input type="submit" value="Add your recipe" />
</p>
<p class="button">
	<input type="reset" value="Reset" />
</p>