<span id="fooBar">&nbsp;</span>
<table >
<tr>
<th id="ingrendient-list">
	
	#{if _ingredients.size() > 0}

			<select id="ingList1" name=mytextarea size=5 multiple>		
			#{list items:ingredients, as:'ingredient'}
<option name="@{Ingredients.show(ingredient.id)}" value=${ingredient.toString()}> ${ingredient.toString()} </option>
				
			#{/list}
			</select>
			
	#{/if}
	#{else}
		<div class="empty">
	       	There are no ingredients.
	   	</div>
	#{/else}
	</th>
	<th>
		<p class="button">
			<input type="button" id="addButt" value=">>" onclick="addToBasket();" />
		</p>
		
		<p class="button">
			<input type="button" id="removeButt" value="<<" onclick="removeFromBasket();"/>
		</p>
		
		<script>
		
		var element="";
		var listAct1 ="ingList1";
		var listAct2 = "ingList2";
		var counter=0;
		var newWindow;
		// array to store the basket elements
		var basketElements= new Array();
		var ingQuantity = new Array();
		
		function saveIngRec(){
			var quantElement;
			var nameElement;
			var display="";
			var dis;
			var recIngNam;
			var recIngQuant;
			
			for(var i=0;i<counter;i++){
				display="input" + (i.toString());
				
					quantElement = document.getElementById(display);
					recIngNam=quantElement.name;
					recIngQuant=quantElement.value;
					//var createUrl="@Receipes.addRecIngredients(" + recIngNam + "," + recIngQuant)}";
					

//					$.ajax({type: "POST", url: "@{Ingredients.addIngredient('potatofry','2')}",});
			}
			var action = "@{RecIngredients.addRecipeIngredient("+recIngNam + ","+recIngQuant+ ")}";
			$.ajax({type: "POST", url: action, });
			alert("done");
		}
		
		function add(type,ingNam) {
			var element;
			var element1;
			var foo;
  			var i;
  			
		
		    element = document.createElement("input");
		     element1 = document.createElement('label');
		 
		    //Assign different attributes to the element.
		    element.setAttribute("type", type);
		    element.setAttribute("value", type);
		    element.setAttribute("name", ingNam);
		    element.setAttribute("id", "input"+ counter.toString());
		 
		    element1=document.createTextNode(ingNam);
		 //   element1.setAttribute("id", "label"+ counter.toString());
		   foo = document.getElementById("fooBar");
		 
		    //Append the element in page (in span).
		     foo.appendChild(element1);
		    foo.appendChild(element);
			
		}
		
		function addToBasket()
		{
  			var selectedElement = document.getElementById('ingList1');
  			var temp;
  			var i;
  			for (i = selectedElement.length - 1; i>=0; i--) {
    			if (selectedElement.options[i].selected) {
    				temp=selectedElement.options[i];
    				basketElements[i]=selectedElement.options[i];
    				add('0',selectedElement.options[i].value);	
    				counter++;
    				passToBasket(selectedElement.options[i],listAct2);
      				selectedElement.remove(i);
    			}
  			}
	
		}
		
		function passToBasket(element,listAct)
		{
			var newElement = document.createElement('option');
			
  			newElement.text = element.text;
  			newElement.value = element.value;
			  
			var passedElement = document.getElementById(listAct);
			try {
			    passedElement.add(newElement, null); 
			  }
			catch(ex) {
			    passedElement.add(newElement); 
 			 }
		}
		
		function removeFromBasket()
		{
			var selectedElement = document.getElementById('ingList2');
  			var i;
  			for (i = selectedElement.length - 1; i>=0; i--) {
    			if (selectedElement.options[i].selected) {
    				passToBasket(selectedElement.options[i],listAct1);
      				selectedElement.remove(i);
      				counter--;
    			}
  			}
		}			
	</script>
	</th>
	<th id="recIngredient-List">
		<select id="ingList2" name=mytextarea size=5 multiple>
		
		<div class="empty">
	       	There are no ingredients.
	   	</div>
			
		</select>
			
	</th>
	<th>
		<p> </p>
	       	
	   	</div>
			
		</select>
			
	</th>
</tr>
</table>
<p>

<p class="button">
		<input type="button" id="completeIngredients" value="Completed" onclick="saveIngRec()" />
</p>