#{extends 'main.html' /}
#{set title: 'Recipe Ingredients' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/ingredient.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}


<div id="recingredient-list">
	<h2 class="title">
		Recipe Ingredients
	</h2>
	#{if recIngredients.size() > 0}
		<ul>
			#{list items:recIngredients, as:'recIngredient'}
				<li><a href="@{RecIngredients.show(recIngredient.id)}">${recIngredient.toString()}</a>
					<span class="ingredient-metadata"> - used by private</span>
				</li>
			#{/list}
		</ul>
	#{/if}
	#{else}
		<div class="empty">
	       	There are no ingredients in recipe.
	   	</div>
	#{/else}
	
	
</div>