#{extends 'main.html' /}
#{set title: 'Receipes' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/ingredient.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}


<div id="receipe-list">
	<h2 class="title">
		Receipes
	</h2>
	#{if receipes.size() > 0}
		<ul>
			#{list items:receipes, as:'receipe'}
				<li><a href="@{Receipes.show(receipe.id)}">${receipe.toString()}</a>
					<span class="receipe-metadata"> - used by private</span>
				</li>
			#{/list}
		</ul>
	#{/if}
	#{else}
		<div class="empty">
	       	There are no receipes.
	   	</div>
	#{/else}
	
	<a href="/game/game" >Game</a>
</div>